.container {
    height: 100vh;
    margin: 0;
}

.top {
    background-color: #20639a;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Cookie, cursive;
    font-size: 2.5rem;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.computer {
    background-color: #ec553a;
    width: 50%;
    height: 80vh;
}

.player {
    background-color: #f5d55c;
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.player__buttons {
    margin: 2rem;
}

.player__button {
    padding: 1.2rem;
    background-color: #ec553a;
    border-radius: 5px;
    border: 0;
    color: white;
    margin: 0 10px;
}

.score {
    margin: 2rem;
}

.score__title {
    text-align: center;
    color: white;
    font-size: 1.3rem;
}