body {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    margin: 0;
}

.top {
    background-color: #ffc93c;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Grandstander, cursive;
    font-size: 4rem;
    color: #FFFFFF;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.computer {
    background-color: #40a8c4;
    width: 50%;
    height: calc(80vh - 3rem);
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.player {
    background-color: #07689f;
    width: 50%;
    height: calc(80vh - 3rem);
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.player__board {
    background-color: white;
    min-width: 300px;
    min-height: 300px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.computer__board {
    background-color: white;
    min-width: 300px;
    min-height: 300px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pcc {
    background-image: url('../images/sprites.jpg');
    width: 100px;
    height: 100px;
    margin: 1rem;
}

.player__choices {
    margin: 2rem;
}

.player__button {
    padding: 1rem;
    background-color: #a2d5f2;
    border-radius: 5px;
    border: 0;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s;
    transition-property: transform;
}

.player__button:hover {
    transform: scale(1.1);
}

.score {
    margin: 2rem;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.3rem;
}

.result {
    position: fixed;
    bottom: 0;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.result__message {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
}